includeConfig "config/utils.config"

params {
  input_dir         = "/processed_datasets/scRecount/scRecounter/prod3"
  output_dir        = "gs://arc-ctc-scbasecamp/2025-02-25/"
  log_dir           = "tmp/logs"
  feature_type      = "GeneFull_Ex50pAS"
  missing_metadata  = "error"
  tissue_categories = "data/2025-02-20_tissue_categories.csv"
  max_datasets      = 0
  organisms         = ""
  update_db         = true
  db_host           = "35.243.133.29"      
  db_name           = "sragent-prod"
  db_username       = "postgres"         
}


//-- Extra configs --//
includeConfig "config/process.config"
includeConfig "config/profiles.config"

//-- Functions --//
// Remove trailing forward slashes in a string
def fmtPath(path_str) {
    return path_str.replaceAll(/\/+$/, '')
}

// Create the work directory
def getWorkDir() {
    def userGroup = "id -gn".execute().text.trim()
    def userName = "whoami".execute().text.trim()
    def workDir = "/scratch/$userGroup/$userName/nextflow-work/gcp-loader"
    return workDir
}

def getCondaCacheDir() {
    def userName = "whoami".execute().text.trim()
    cacheDir = "/home/$userName/nextflow/conda-cache/gcp-loader"
    return cacheDir
}