._*
*~
*.log
.env
.gcp/
tmp/
TMP/
logs/
work/
results/
archive/
star_ref/
.nextflow/
.nextflow*
screenlog.*
*.pyc
SRAgent/
scripts/db_utils.py
notebooks/tiledb/data/
notebooks/tiledb/sandbox/
docker/sc-recounter-run/db_utils.py