._*
*~
*.log
.env
.gcp/
tmp/
TMP/
logs/
claude_log/
work/
results/
archive/
star_ref/
Test_files/
ignore/
.nextflow/
.nextflow*
screenlog.*
*.pyc
SRAgent/
scripts/db_utils.py
notebooks/tiledb/
docker/sc-recounter-run/db_utils.py
*.gz
250806_results_test53_head20/
results_test53/
results_test53_head20/
results_test53_next20/
results_test/
