includeConfig "config/utils.config"

params {
  accessions = ""                   // CSV of accessions
  reads      = ""                   // CSV of fastq files
  barcodes   = "data/barcodes.csv"  // CSV of barcodes
  outdir     = "results"            // output directory
  max_spots  = 0                    // max number of spots (read-pairs) to process; all if 0
  subsample  = 100000               // no. of reads used for STARsolo parameter assessment
  keep_temp  = false                // keep temporary files (allows -resume, but requires more disk space)
  star_index = "/large_storage/goodarzilab/public/scRecount/genomes/star_refData_2020_hg38"
}


// Automatically setting the working directory (-work-dir)
workDir = getWorkDir()

//-- Extra configs --//
includeConfig "config/process.config"
includeConfig "config/profiles.config"

//-- Functions --//
// Remove trailing forward slashes in a string
def fmtPath(path_str) {
    return path_str.replaceAll(/\/+$/, '')
}

// Limit to the max resources of the available machine
def check_max(obj, type){
    if(type == 'memory'){
        if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1){
            return params.max_memory as nextflow.util.MemoryUnit
        }
    } else if(type == 'time'){
        if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1){
            return params.max_time as nextflow.util.Duration
        }
    } else if(type == 'cpus'){
        if (obj > params.max_cpus as int){
            return params.max_cpus as int
        }
    }
    return obj
}

// Auto-setting of the working directory
def getWorkDir() {
    def userGroup = "id -gn".execute().text.trim()
    def userName = "whoami".execute().text.trim()
    def workDir = "/scratch/$userGroup/$userName/nextflow-work/scRecounter"
    return workDir
}

