process {
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 125) ? "retry" : "finish" }
    maxRetries    = 0
    maxErrors     = "-1"

    conda = "conda-env.yml"

    cpus = 1
    memory = 2.GB
    time = 1.h

    withLabel:process_low {
        cpus = 2
        memory = { 8.GB * task.attempt }
        time = { 2.h * task.attempt }
    }
    withLabel:process_high {
        cpus = { 4 * task.attempt }
        memory = { 56.GB * task.attempt }
    }
}

