profiles {
    conda {
        conda.enabled          = true
        conda.useMamba         = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.sudo            = false
        docker.runOptions      = "-u \$(id -u):\$(id -g) --platform=linux/amd64"
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    vm {
        workDir            = "tmp/work"
        process {
            errorStrategy  = "terminate"
            maxRetries     = 0
            resourceLimits = [ cpus: 24, memory: 96.GB, time: 72.h ]
        }
    }
    slurm {
        workDir            = getWorkDir()
        conda.cacheDir     = getCondaCacheDir()
        cleanup            = true
        executor.queueSize = 50
        process {
            executor       = "slurm"
            queue          = "cpu_batch"
            errorStrategy  = "retry" 
            maxRetries     = 3
            resourceLimits = [ cpus: 24, memory: 900.GB, time: 72.h ]
        }
    }
    dev {
        params {
            input_dir    = "/processed_datasets/scRecount/scRecounter/prod3"
            log_dir      = "tmp/logs"
            output_dir   = "gs://arc-ctc-nextflow/gcp-loader/output/" 
            max_datasets = 3
            db_name      = "sragent-prod"
            update_db    = false
        }
    }
    report {
        report {
            enabled   = true
            overwrite = true
            file      = "${params.log_dir}/nf-report/${params.timestamp}.html"
        }
    }
    trace {
        trace {
            enabled   = true
            overwrite = true
            file      = "${params.log_dir}/nf-trace/${params.timestamp}.txt"
            fields    = "task_id,hash,native_id,name,status,exit,submit,container,cpus,time,disk,memory,attempt,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar,workdir,scratch"
        }
    }
}


