process {
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 125) ? "retry" : "finish" }
    maxRetries    = 0
    maxErrors     = "-1"

    cpus = 1
    memory = 6.GB
    time = 2.h

    withLabel:process_low {
        cpus = { check_max( 4, "cpus" ) }
        memory = { check_max( 12.GB * task.attempt, "memory" ) }
        time = { check_max( 4.h * task.attempt, "time" ) }
    }
    withLabel:process_medium {
        cpus = { check_max( 8, "cpus" ) }
        memory = { check_max( 48.GB * task.attempt, "memory" ) }
        time = { check_max( 8.h * task.attempt, "time" ) }
    }
    withLabel:process_high {
        cpus = { check_max( 24, "cpus" ) }
        memory = { check_max( 156.GB * task.attempt, "memory" ) }
        time = { check_max( 12.h * task.attempt, "time" ) }
    }
}

