import java.time.*
Date now = new Date()

manifest {
    name = "scRecounter"
    author = "Nick Youngblut"
    homePage = "https://github.com/arcinstitute/scRecounter"
    description = "Nextflow pipeline for re-processing public single-cell data"
    version = "0.1.0"
}

params {
    timestamp = now.format("yyyy-MM-dd_HH-mm-ss")
}

