import java.time.*
Date now = new Date()

manifest {
    name = "reCounter"
    author = "Nick Youngblut"
    homePage = "https://github.com/arcinstitute/reCounter"
    description = "Nextflow pipeline for re-processing all public single-cell data"
    version = "0.1.0"
}

params {
    timestamp = now.format("yyyy-MM-dd_HH-mm-ss")
}

mail {
    smtp.host = "chimera-admin"
    smtp.port = 25
}
