includeConfig "config/utils.config"

params {
  input_dir    = "/processed_datasets/scRecount/scRecounter/tmp/prod_tmp"
  db_uri       = "/scratch/multiomics/nickyoungblut/tiledb-loader/tiledb_prod_tmp" 
  batch_size   = 8
  max_datasets = 12
}


//-- Extra configs --//
includeConfig "config/process.config"
includeConfig "config/profiles.config"

//-- Functions --//
// Remove trailing forward slashes in a string
def fmtPath(path_str) {
    return path_str.replaceAll(/\/+$/, '')
}

