includeConfig "config/utils.config"

params {
  input_dir        = ""
  db_uri           = ""
  mtx_batch_size   = 8
  h5ad_batch_size  = 2
  max_datasets     = 1000
}


//-- Extra configs --//
includeConfig "config/process.config"
includeConfig "config/profiles.config"



//-- Functions --//
// Remove trailing forward slashes in a string
def fmtPath(path_str) {
    return path_str.replaceAll(/\/+$/, '')
}

// Create the work directory
def getWorkDir() {
    def userGroup = "id -gn".execute().text.trim()
    def userName = "whoami".execute().text.trim()
    def workDir = "/scratch/$userGroup/$userName/nextflow-work/tiledb-loader"
    return workDir
}

def getCondaCacheDir() {
    def userName = "whoami".execute().text.trim()
    cacheDir = "/home/$userName/nextflow/conda-cache/lizard-wizard"
    return cacheDir
}