process {
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 125) ? "retry" : "finish" }
    maxRetries    = 0
    maxErrors     = "-1"

    conda = "conda-env.yml"

    cpus = 1
    memory = 2.GB
    time = 1.h

    withLabel:process_low {
        cpus = 4
        memory = { 4.GB * task.attempt }
        time = { 1.h * task.attempt }
    }
    withLabel:process_medium {
        cpus = 8
        memory = { 36.GB * task.attempt }
        time = { 2.h * task.attempt }
    }
    withLabel:process_high {
        cpus = 8
        memory = { 72.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
}

