import java.time.*
Date now = new Date()

manifest {
    name = "tiledb-loader"
    author = "Nick Youngblut"
    homePage = "https://github.com/arcinstitute/scRecounter"
    description = "Load data into tiledb-soma database"
    version = "0.1.0"
}

params {
    timestamp = now.format("yyyy-MM-dd_HH-mm-ss")
}

mail {
    smtp.host = "chimera-admin"
    smtp.port = 25
}
